extends base

block content
    include _navbar
    include _addYearForm
    div.pageContentContainer
        div.pageContent
            button.addYearButton Add Year
            table.yearTable
                tr.headingRow
                    th Year
                    th Turnover
                    th Costs of Sales
                    th Overheads
                    th Operating Income
                each year in years
                    tr.yearRow
                        td #{year.name}
                        td £#{year.turnover}
                        td £#{year.totalCOS}
                        td £#{year.totalOH}
                        td £#{year.totalOI}
                    

        